// 颜色定义规范
$main-color = #31c27c
$search-color = #2baa6d
$text-color = #fff
$text-simple-color = rgba(0, 0, 0, .7)
$more-color = #8a8a8b
$placeholder-color = #e5f5ed
$swiper-pagination = rgba(255, 255, 255, .6)
$icon-color = #31c27c
$icon-play-color = #e6e6e6
$icon-unable-color = #d6d4ca
$border-color=#e8e8e8

$list-header-bgcolor = rgba(0, 0, 0, .75)
$singer-color=#8e8e8e

$hotkey-border-color = #dbdbdb