@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?90wsva');
  src:  url('../fonts/icomoon.eot?90wsva#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?90wsva') format('truetype'),
    url('../fonts/icomoon.woff?90wsva') format('woff'),
    url('../fonts/icomoon.svg?90wsva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-s-delete:before {
  content: "\e902";
}
.icon-d-play:before {
  content: "\e91b";
}
.icon-r-play:before {
  content: "\e91c";
}
.icon-x-play:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e91e";
}
.icon-dj:before {
  content: "\e91a";
}
.icon-sq:before {
  content: "\e918";
}
.icon-hq:before {
  content: "\e919";
}
.icon-back:before {
  content: "\e900";
}
.icon-cd:before {
  content: "\e901";
}
.icon-ellipsis:before {
  content: "\e903";
}
.icon-fm:before {
  content: "\e904";
}
.icon-love:before {
  content: "\e905";
}
.icon-more:before {
  content: "\e906";
}
.icon-music:before {
  content: "\e907";
}
.icon-music-list:before {
  content: "\e908";
}
.icon-mv:before {
  content: "\e909";
}
.icon-my-list:before {
  content: "\e90a";
}
.icon-next:before {
  content: "\e90b";
}
.icon-people:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-prev:before {
  content: "\e90e";
}
.icon-rank:before {
  content: "\e90f";
}
.icon-rating:before {
  content: "\e910";
}
.icon-r-serch:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-select:before {
  content: "\e913";
}
.icon-stop:before {
  content: "\e914";
}
.icon-t-music:before {
  content: "\e915";
}
.icon-try:before {
  content: "\e916";
}
.icon-type:before {
  content: "\e917";
}
.icon-sq
  font-size: 20px
  vertical-align: middle
  padding: 0 5px
.icon-hq
  font-size: 20px
  vertical-align: middle
  padding: 0 5px
.icon-dj
  font-size: 20px
  vertical-align: middle
  padding: 0 5px
.icon-mv
  font-size: 18px
  vertical-align: middle
  padding: 0 5px  
 
@import 'color.styl'  
.icon-sq
  color: #f55f00
.icon-hq
  color:$icon-color
.icon-dj
  color:$icon-color
.icon-mv
  color:$icon-color