border-bottom-1px($color)
	position: relative
	&:after
		display: block
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		border-top: 1px solid $color
		content:' '		
border-top-1px($color)
	position: relative
	&:after
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		border-top: 1px solid $color
		content:' '							
border-none()
	&:after
		border: 0
		
.icon-sq
	font-size: 20px
	vertical-align: middle
	padding: 0 5px
.icon-hq
	font-size: 20px
	vertical-align: middle
	padding: 0 5px
.icon-dj
	font-size: 20px
	vertical-align: middle
	padding: 0 5px
.icon-mv
	font-size: 18px
	vertical-align: middle
	padding: 0 5px						